{% extends "home/base.html" %}
{% block Title %}Caiu Bem, o seu clube de compras{% endblock %}
{% block extrastyle %}

{% load staticfiles %}
.main-header {
    background-image: url({% static 'home/img/gagofull.jpg' %});
  }
fieldset {
float:left;
padding-left:2%;
padding-right:16%;
}
.rogue-text {
padding-top:2%;
}
{% endblock %}
{% block Content %}
<div class="hidden-phone main-header text-center">
  <h1>Simplifique o que é basico</h1>
  <p>Por que gastar seu tempo comprando meias ou roupas íntimas?</p>
  <a href="#myModal" role="button" class="btn btn-inverse btn-large" data-toggle="modal">Pré cadastro &raquo;</a>
</div>
<div class="visible-phone phone-header text-center">
  <h1>Caiu bem!</h1>
  <p>Por que gastar seu tempo comprando meias ou roupas íntimas?</p>
  <a href="#myModal" role="button" class="btn btn-inverse" data-toggle="modal">Pré cadastro &raquo;</a>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="faq span4 text-center">
      <img src="{% static 'home/img/simbolo.png' %}" style="height: 140px; width: 140px;" alt="" class="img-circle">
      <h2>Quem somos</h2>
      <p>A caiu bem tem o objetivo de levar comodidade até você, basta se cadastrar e selecionar os produtos e a quantidade que você deseja receber de cada um deles e você nunca mais terá que se preocupar em comprar meias, roupas íntimas ou camisetas básicas. </p>
    </div>
    <div class="faq span4 text-center">
      <img src="{% static 'home/img/user.png' %}" style="height: 140px; width: 140px;" alt="" class="img-circle">
      <h2>Nossos clientes</h2>
      <p>Se você gosta de ter roupas bem cuidadas e não ter que se preocupar com isso, aqui é o seu lugar. </p>
    </div>
    <div class="faq span4 text-center">
      <img src="{% static 'home/img/heart.png' %}" style="height: 140px; width: 140px;" alt="" class="img-circle">
      <h2>Porque você vai curtir</h2>
      <p>Nós sabemos que todos querem ficar bem vestidos, mas também sabemos que com tantas preocupações nem sempre conseguimos tempo para ir as compras, agora você não precisa se preocupar mais com isso, a caiu bem cuidará de tudo para você!</p>
    </div>
  </div>

  {% endblock %}
  {% block Modals %}
  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Registro de Usuário</h3>
    </div>
    <div class="modal-body well">
      <form class="well" method="post" action="{% url "home:home" %}">{% csrf_token %}
        <p class="muted">Digite seu email para que iniciemos o seu cadastro.</p>
        <div class="controls">
          <input class="span5" name="email" type="text" placeholder="Digite seu email" id="id_email">
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>

    </div>
    {% endblock %}