{% extends "home/base.html" %}
{% block Title %}Caiu Bem, o seu clube de compras{% endblock %}
{% block extrastyle %}

{% load staticfiles %}
.main-header {
    background-image: url({% static 'home/img/gagofull.jpg' %});
  }
fieldset {
float:left;
padding-left:2%;
padding-right:16%;
}
.rogue-text {
padding-top:2%;
}
{% endblock %}
{% block Content %}
<div class="hidden-phone main-header text-center">
  <h1>Caiu bem!</h1>
  <p>This is a template for a simple marketing or informational website.</p>
  <a href="#myModal" role="button" class="btn btn-inverse btn-large" data-toggle="modal">Pré cadastro &raquo;</a>
</div>
<div class="visible-phone phone-header text-center">
  <h1>Caiu bem!</h1>
  <p>This is a template for a simple marketing or informational website.</p>
  <a href="#myModal" role="button" class="btn btn-inverse" data-toggle="modal">Pré cadastro &raquo;</a>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="faq span4 text-center">
      <img src="{% static 'home/img/images.png' %}" height="140" width="140" alt="" class="img-circle">
      <h2>Quem somos</h2>
      <p>A caiu bem é a primeira empresa de marketing multinivel voltada apenas para roupas. Nosso objetivo é conseguir alinhar moda e patricidade. </p>
    </div>
    <div class="faq span4 text-center">
      <img src="{% static 'home/img/user.png' %}" height="140" width="140" alt="" class="img-circle">
      <h2>Nossos clientes</h2>
      <p>Nosso produto é feito para pessoas que querem comodidade e segurança na hora de comprar suas roupas na medida certa. </p>
    </div>
    <div class="faq span4 text-center">
      <img src="{% static 'home/img/heart.png' %}" height="140" width="140" alt="" class="img-circle">
      <h2>Porque você vai curtir</h2>
      <p>Além de te deixar sempre na moda e bem vestido a caiu bem proporciona a você uma grande oportunidade, ganhar uma renda extra convidando seus amigos e ganhando na revenda de nossas roupas. Aproveite!</p>
    </div>
  </div>

  <hr class="spaceline">
  <div class="row-fluid">
    <div class="span5"><iframe width="100%" height="315" src="http://www.youtube.com/embed/xK8gqTJQGUQ" frameborder="0" allowfullscreen></iframe></div>
    <div class="faq span7">
      <h4>Pré cadastro</h4>
      <p>Estamos muito felizes hoje por lançarmos o pré cadastro da xxxxxxxxx. Nossa intenção é formar um clube de compras, onde todos os participantes irão pagar uma mensalidade que será toda revertida em pontos, os quais poderão ser trocados por nossos produtos. Nesse modelo teremos todos os clientes cadastrados e saberemos exatamente as medidas de cada um, podendo assim produzir roupas com o tamanho apropriado. Além disso conseguiremos diminuir nossas pontas de estoque, diminuindo também o preço do nosso produto para nossos clientes finais, no caso vocês.</p>

      <p>As pessoas que se cadastrarem durante esse período receberão, em breve, um e-mail da nossa equipe para se associarem ao nosso clube de compras. Esse e-mail irá conter um id que será único. A partir daí é só entrar no nosso site e se associar. Para fazermos com que o nosso clube cresça cada vez mais e nossos produtos fiquem cada vez mais baratos, contamos com a ajuda de vocês para divulgá-lo, lembrando que cada amigo que você indicar a xxxxxxxxxxx, pagará uma bonificação especial para você!</p>

      <p>O e-mail enviado pela equipe xxxxxxxxxxx irá conter:</p>
      
      <ul>
        <li>O id para o cadastramento oficial de vocês.</li>
        <li>Plano de marketing especificando as políticas de bonificação da empresa.</li>
      </ul>
    </div>
  </div>
  {% endblock %}
  {% block Modals %}
  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Registro de Usuário</h3>
    </div>
    <div class="modal-body well">
      <form class="well" method="post" action="{% url "home:home" %}">{% csrf_token %}
        <p class="muted">Digite seu email para que iniciemos o seu cadastro.</p>
        <div class="controls">
          <input class="span5" name="email" type="text" placeholder="Digite seu email" id="id_email">
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>

    </div>
    {% endblock %}